---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1 " rowSpan="md:row-span-4" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Sarath, a data scientist from India currently based in UK
      <br />
      <br />
      My primary tools of choice includes:
      <ul class="list-inside list-disc">
        <li>Python</li>
        <li>R</li>
        <li>SQL</li>
        <li>Microsoft 365</li>
        <li>Tableau</li>
        <li>Streamlit</li>
        <li>Git</li>
        <li>PowerBI</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about football, gaming and traveling..
    </p>
  </div>
</Card>
