---
import BaseLayout from '@/layouts/BaseLayoutHome.astro'
import IntroCard from '../components/sections/IntroCard.astro'
import AboutMe from '../components/sections/AboutMe.astro'
import Card from '../components/Card.astro'
import ContactsCard from '../components/sections/ContactsCard.astro'
import Now from '../components/sections/Now.astro'
import CVCard from '../components/sections/CVCard.astro'
import ExperienceCard from '../components/sections/ExperienceCard.astro'
import SpotifyPresence from '@/components/bento/SpotifyPresence.tsx'
import TimeZoneCard from '@/components/sections/TimeZoneCard.astro'
import CardGlass from '@/components/ui/card-glass'
---

<script>
  import { stagger, spring, timeline, type TimelineDefinition } from 'motion'
  import { loaderAnimation } from '../lib/constants'

  const cards = document.querySelectorAll('.card-animate')

  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ['40%', '0%'], opacity: [0, 1] },
      {
        at: '-0.1',
        duration: 0.1,
        delay: stagger(0.3),
        easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
      },
    ],
  ]

  timeline(sequence as TimelineDefinition)
</script>
<BaseLayout>
  <!-- <main
    class="relative m-auto grid w-full max-w-6xl gap-2 overflow-hidden p-2 sm:gap-2 sm:p-4 md:grid-cols-2 md:gap-3 md:p-6 lg:grid-cols-4 lg:grid-rows-8 lg:gap-4 lg:auto-rows-auto lg:auto-cols-auto"
  > -->
  <main
    class="relative grid w-full
           gap-2
           overflow-hidden
           p-4
           sm:grid-cols-2
           md:grid-cols-3
           lg:grid-cols-4
           [&>*]:h-auto"
  >
    <IntroCard class="sm:col-span-2 lg:col-span-3 lg:row-span-1" />

    <AboutMe class="sm:col-span-1 lg:col-span-1 lg:row-span-3" />

    <CVCard class="sm:col-span-1 lg:col-span-1 lg:row-span-2" />

    <Now />
    <!-- <Card
    className={cn(
      "sm:col-span-2 lg:col-span-2 lg:row-span-2",
      isHighlighted && "border-2 border-blue-500"
    )}
    >
    <BatCat />
    </Card> -->

    <Card
      colSpan="sm:col-span-1 lg:col-span-1"
      rowSpan="lg:row-span-1"
      title="Projects"
      href="/projects"
    />

    <Card
      colSpan="sm:col-span-1 md:col-span-1 lg:col-span-1"
      rowSpan="sm:col-span-1 md:col-span-1 lg:col-span-1"
    >
      <div>
        <div
          class="overlay absolute inset-0 z-0 size-full rounded-3xl bg-[url('/static/bento/spotify.webp')] bg-cover bg-center bg-no-repeat transition-opacity duration-200 xl:opacity-0"
        >
        </div>
        <SpotifyPresence client:load />
      </div>
    </Card>
    <Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
      <div class="flex h-full flex-col justify-between">
        <blockquote class="mt-6 border-l-2 pl-6 italic">
          "Anything one man can imagine, other men can make real."
        </blockquote>
        <p class="mt-2 text-xs">- Jules Verne</p>
      </div>
    </Card>
    <ExperienceCard />
    <TimeZoneCard />
    <ContactsCard />
    <Card colSpan="md:col-span-3" rowSpan="md:row-span-1">
      <div class="flex h-full flex-col justify-between">
        <span class="text-xs text-gray-500"
          >planning to get the icons of the techstack I'm familiar with here.</span
        >
      </div>
    </Card>
  </main>
</BaseLayout>
